In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv(r'/content/List of states and cities.csv')

In [3]:
df1.head()

     State        City
0     Acre  Rio Branco
1  Alagoas   Arapiraca
2  Alagoas      Maceio
3    Amapa      Macapa
4    Amapa     Santana

In [4]:
df2 = pd.read_csv(r'/content/List of municipalities.csv')

In [5]:
df2.head()

         Mesoregion Microregion   Municipality
0  Agreste Alagoano   Arapiraca      Arapiraca
1  Agreste Alagoano   Arapiraca   Campo Grande
2  Agreste Alagoano   Arapiraca  Coite do Noia
3  Agreste Alagoano   Arapiraca        Craibas
4  Agreste Alagoano   Arapiraca   Feira Grande

In [6]:
df3 = pd.read_csv(r'/content/List of states.csv')

In [7]:
df3.head()

      State Code     Capital Largest city
0      Acre   AC  Rio Branco   Rio Branco
1   Alagoas   AL      Maceio       Maceio
2     Amapa   AP      Macapa       Macapa
3  Amazonas   AM      Manaus       Manaus
4     Bahia   BA    Salvador     Salvador

In [8]:
state = df1['State']
city = df1['City']
municipality = df2['Municipality']
large_city = df3['Largest city']

In [9]:
all_bra = pd.concat([state,city,municipality,large_city],ignore_index=True)

In [10]:
all_bra = all_bra.str.lower()

In [11]:
all_bra = all_bra.drop_duplicates()

In [12]:
all_bra = all_bra.sort_values().reset_index(drop=True)

In [13]:
check = pd.DataFrame(all_bra,columns=['city'])

In [14]:
check

                     city
0         abadia de goias
1     abadia dos dourados
2               abadiania
3                  abaete
4              abaetetuba
...                   ...
5323          xique-xique
5324               zabele
5325             zacarias
5326              ze doca
5327               zortea

[5328 rows x 1 columns]

In [15]:
frame = pd.DataFrame(['zortea','sao paulo'],columns=['element'])

In [16]:
frame.isin(check.city.to_list())

   element
0     True
1     True

In [17]:
check.to_csv(r'/content/check_list.csv',index=False)

In [18]:
abbr = pd.DataFrame(df3['Code'])

In [19]:
abbr.to_csv(r'/content/check_state_abbr.csv', index=False)